%h3= "#{t('admin.history_remark.changes')}"
%table#version.table.table-striped{:data => { :title => "#{@abstract_model} version ##{@version.index + 1} <small>[#{@version.event}]</small>"}}
  %thead
    %tr
      %th= "#{t('admin.history_remark.table_headers.field')}"
      %th= "#{t('admin.history_remark.table_headers.origin')}"
      %th= "#{t('admin.history_remark.table_headers.changes')}"
  %tbody
    - @version.changeset.sort.each do |changes|
      %tr
        %td= changes[0]
        %td.original= changes[1][0]
        %td.changed= changes[1][1]

%div
  %h3= "#{t('admin.history_remark.remark')}"
  %span= @version.remark || '-'
